[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = { git = 'https://github.com/django/django.git', ref = '1.11', editable = true }
gunicorn = "*"
django-heroku = "*"
python-dotenv = "*"
embed_video = { git = 'https://github.com/jazzband/django-embed-video'}

[requires]

python_version = "3.6"