certifi==2017.11.5
chardet==3.0.4
click==6.7
dj-database-url==0.4.2
-e git+https://github.com/django/django.git@58f02c498b659a906e9c30d946bd89bedc4717e5#egg=Django
django==1.11
django-embed-video==1.1.2
django-heroku==0.2.0
flake8==3.5.0
gunicorn==19.7.1
idna==2.6
mccabe==0.6.1
pew==1.1.2
pipenv==9.0.3
progressbar33==2.4
psutil==5.3.1
psycopg2==2.7.3.2
pycodestyle==2.3.1
pyflakes==1.6.0
python-dotenv==0.7.1
pytz==2017.3
requests==2.18.4
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
whitenoise==3.3.1
